h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

main {
    font-family: 'Anton', sans-serif;
}

code {
    font-family: 'VT323', monospace;
}

/* hideous font chosen to accentuate change to <code> <p> */